<div class="container mt-10">
    <h1>{{title}}</h1>
    <nav class="nav nav-bar">
        <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Home</a>
        <a routerLinkActive="active" routerLink="/heroes">Heroes</a>
        <a routerLinkActive="active" routerLink="/test">Pipe</a>
        <a routerLinkActive="active" routerLink="/custompipe">Custompipe</a>
        <a routerLink="/products" routerLinkActive="active" >Products</a>
        <!-- <a routerLink="/lch">Lifecycle hook</a> -->
    </nav>
    <div *ngIf="isShow">
        <div class="form-group">
            <label for="a">A</label>
            <input id="a" class="form-control" type="number" [(ngModel)]="a">
            <label for="b">B</label>
            <input id="b" class="form-control" type="number" [(ngModel)]="b">
        </div>
        <button class="btn btn-primary" (click)="sum()">Add</button>
    </div>
    <!-- <app-lifecycle-hook [total]="total">
        <h3 class="abc">this is h3 tag</h3>
        <h4 #content>this is h4 tag</h4>
    </app-lifecycle-hook>     -->
</div>
<div class="container">
    <div class="btn-group" role="group" aria-label="Button group">
        <button class="btn btn-danger" (click)="navigate('home')">Home</button>
        <button class="btn btn-danger" (click)="navigate('test')">Pipe</button>
    </div>
    <button class="btn btn-primary" style="color:white" (click)="show()">{{isShow ? 'Hide' : 'Show'}}</button>
</div>
<router-outlet></router-outlet>
