<table class="table table-light table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Input</th>
            <th>Output</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input class='form-control' type="text" [(ngModel)]="id" placeholder="id">
            </td>
            <td>
                <input class='form-control' type="text" [(ngModel)]="name" placeholder="name">
            </td>
            <td>
                <select [(ngModel)]="status">
                    <option value="true">active</option>
                    <option value="false">deactive</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>format data</td>
            <td>{{text}}</td>
            <td>{{text | formatData : 10 : 20}}</td>
        </tr>
        <tr *ngFor="let user of users | filter: id : name : status">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.status ? 'active' : 'deactive'}}</td>
        </tr>
        <tr>
            <td>arrSort Custom Pipe</td>
            <td>{{arrNumber}}</td>
            <td>{{arrNumber | arrSort : 1}}</td>
        </tr>
    </tbody>
</table>
<div class="form-group" style="margin-top:100px">
    <label for="my-input">age</label>
    <input id="my-input" class="form-control" type="text" #named>
    <label for="xyz">Phone</label>
    <input id="xyz" type="text" class="form-control" ref-phone>
    <button class="btn btn-primary" (click)="log(named.value)">#name</button>
    <button class="btn btn-primary" (click)="logCom()">ref-name</button>
</div>