<div class="container" style="margin-top:100px">
    <div class="form-group col-md-6">
        <label for="name">Name</label>
        <input id="name" class="form-control" type="text" [(ngModel)]="name">
        <label for="price">Price</label>
        <input id="price" class="form-control" type="number" [(ngModel)]="price">
        <button class="btn btn-primary" routerLink="/products" [queryParams]="{name: name ,price: price }">Search</button>
        <button class="btn btn-danger" (click)="search()">Search</button>
    </div>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Price</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products;">
                <td #id>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>
                    <a routerLink="/products/{{product.id}}">View</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>