<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes;
    let i=index;
    let f=first;
    let l=last;
    let e=even;
    let o=odd;
    trackBy: trackByFunction"
    (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
        <span [style.color]="f === true ? 'yellow' : l === true ? 'red' : e === true ? 'black': 'blue'"
            class="badge">{{i}}</span>
        {{hero.name}}
    </li>
</ul>

<div [ngClass]="['bgc','color']">
    <h4>Test</h4>
</div>
<div [ngClass]="{'bgc': isSlt === true,'color': selectedHero !== undefined}">
    <h4>xyz</h4>
    <button (click)="change()">change</button>
</div>

<app-hero-detail (outToParent)="nhan($event)" [hero]="selectedHero"></app-hero-detail>

<div>
    <ul>
        <li *ngFor="let item of dataFromChild">{{item}}</li>
    </ul>
</div>
<app-messages></app-messages>